---
layout: default
---
<main class="content fade-in-down delay-0_75s">
    <div class="inner">
        <article class="post">
            {% if page.featured_image %}
            <div class="post-thumbnail"><img src="{{ "/images/" | append: page.featured_image | prepend: site.baseurl }}" alt="{% if page.featured_image_alt %}{{ page.featured_image_alt }}{% else %}{{ page.title }}{% endif %}" /></div>
            {% endif %}
            <div class="entry-box">
                <header class="entry-header">
                    <h1 class="entry-title">{{ page.title }}</h1>
                </header><!-- .entry-header -->
                <div class="entry-content">
                    {{content}}
                </div><!-- .entry-content -->
            </div><!-- .entry-box -->
            <div class="author-box">
                <div class="author-info">
                    {% if site.author_image %}
                    <div class="author-image">
                        <a class="author-avatar" style="background-image: url({{ site.baseurl }}/images/{{ site.author_image }})"><span class="screen-reader-text">{{ site.author_name }}'s Picture</span></a>
                    </div>
                    {% endif %}
                    <div class="author-details">
                        <h2 class="author-title">Coordinates | {{ site.author_name }}</h2>
                        <p class="author-links">
                            {% if site.author_location %}
                            <span class="author-location"><i class="fa-map-marker" aria-hidden="true"></i> {{ site.author_location }}</span>
                            {% endif %}
                            {% if site.linkedin_username %}
                            <span class="author-website"><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa-chain" aria-hidden="true"></i> LinkedIn</a></span>
                            {% endif %}
                        </p>
                    </div><!-- .author-details -->
                </div><!-- .author-info -->
            </div><!-- .author-box -->
        </article><!-- .post -->
    </div><!-- .inner -->
</main><!-- .content -->
